ion-content{
    --ion-background-color: #fff;
    
    .logo-loading{
        display: inline;
        position: relative;
        z-index: -1;
    }
}
.circle{
    position: fixed;
    z-index: 1;
    transform: scale(0.5);
    background: #000;
    animation: scale 2s ease forwards;
    animation-delay: 4s;
    border-radius: 50%;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-top: -750px;
    margin-left: -750px;
    opacity: 0;
    overflow: hidden;
    width: 1500px;
    height: 1500px;
}
@keyframes scale {
    0%{
        opacity: 1;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
  }