ion-content{
    --ion-padding: 2.5rem;
    
    .logo{
        margin-bottom: 3rem;
    }
    .splash-img{
        margin-bottom: 1rem;
    }
    .header{
        margin-bottom: .5rem;
    }
    .reg-text{
        margin-bottom: 1.5rem;
    }
}