
<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-img src="./assets/icon/rockshop-logo.svg" alt="Rockshop Logo" class="logo"></ion-img>
  </div>

  <swiper-container class="" pagination="true" clickable="false" slides-per-view="auto" space-between="16" css-mode="true">
    <swiper-slide>
      <div>
        <ion-img src="./assets/images/splash.svg" class="splash-img"></ion-img>
      </div>
    
      <div>
        <div class="text-header">Discover the Heartbeat of OPM</div>
        <div class="reg-text">Your Gateway to Authentic Concert Merchandise. Tune in, Shop on, and Rock the Experience!</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <ion-img src="./assets/images/splash.svg" class="splash-img"></ion-img>
      </div>
    
      <div>
        <div class="text-header">Discover the Heartbeat of OPM</div>
        <div class="reg-text">Your Gateway to Authentic Concert Merchandise. Tune in, Shop on, and Rock the Experience!</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <ion-img src="./assets/images/splash.svg" class="splash-img"></ion-img>
      </div>
    
      <div>
        <div class="text-header">Discover the Heartbeat of OPM</div>
        <div class="reg-text">Your Gateway to Authentic Concert Merchandise. Tune in, Shop on, and Rock the Experience!</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <ion-img src="./assets/images/splash.svg" class="splash-img"></ion-img>
      </div>
    
      <div>
        <div class="text-header">Discover the Heartbeat of OPM</div>
        <div class="reg-text">Your Gateway to Authentic Concert Merchandise. Tune in, Shop on, and Rock the Experience!</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <ion-img src="./assets/images/splash.svg" class="splash-img"></ion-img>
      </div>
    
      <div>
        <div class="text-header">Discover the Heartbeat of OPM</div>
        <div class="reg-text">Your Gateway to Authentic Concert Merchandise. Tune in, Shop on, and Rock the Experience!</div>
      </div>
    </swiper-slide>
  </swiper-container>
  
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" shape="block" class="btn">Get Started!</ion-button>
  <ion-button expand="block" shape="block" fill="clear">Sign up</ion-button>
</ion-footer>