.sub-text{
    margin-top: 0 !important;
}
ion-item{
    padding: 6px 16px !important;
}
ion-segment-button{
    padding: 8px 0 !important;
}
.arrival{
    background: rgba(255, 255, 255, 0.38);
    border-radius: 100px;
    padding: 8px;
    img{
        margin-right: 0 !important;
    }
}
.txt-overflow{
    width: auto !important;
}