.notif-txt{
    display: flex;
    justify-content: space-between;

    .text-high{
        display: grid;
        align-content: end;
    }
}
.sub-text{
    margin-top: 6px !important;
    line-height: normal;
}
ion-item{
    padding: 16px !important;
}