<ion-header [translucent]="true" class="ion-padding-horizontal">
  <ion-toolbar>
    <ion-button fill="clear">
      <img src="./assets/icon/arrow-left.svg" alt="">
    </ion-button>
      <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="setting-sec">
    <div class="sub-text mb-1">Accessibility</div>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/bell-red.svg" alt="">
      </div>
      <ion-label>Notification</ion-label>
    </ion-item>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/type.svg" alt="">
      </div>
      <ion-label>Text Customization</ion-label>
    </ion-item>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/volume-2.svg" alt="">
      </div>
      <ion-label>Screen Reader</ion-label>
    </ion-item>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/globe.svg" alt="">
      </div>
      <ion-label>App Language</ion-label>
    </ion-item>
  </div>
  <div class="line my-2"></div>
  <div class="setting-sec">
    <div class="sub-text mb-1">Support</div>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/info.svg" alt="">
      </div>
      <ion-label>About</ion-label>
    </ion-item>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/list.svg" alt="">
      </div>
      <ion-label>Policies</ion-label>
    </ion-item>
    <ion-item button="true" detail="true" lines="none" class="fs-16 mb-1">
      <div>
        <img src="./assets/icon/help-circle.svg" alt="">
      </div>
      <ion-label>Help Center</ion-label>
    </ion-item>
  </div>
  <div class="line my-2"></div>
  <div>
    <ion-button fill="clear" class="logout-btn">
      <img src="./assets/icon/log-out.svg" class="mr-1">
      Logout
    </ion-button>
  </div>
</ion-content>
