ion-header{
    background: #6c6c6c;
}
ion-toolbar{
    background: url(/../assets/images/shirt1.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30vh;
    background-size: 210px;
    padding: 0 24px;

    .header{
        margin-top: 32px;
    }
}

ion-item{
    background: none !important;
    --inner-padding-bottom: 16px;
    --border-color: #FFFFFF1F;
    padding: 0 !important; 
    margin-bottom: 32px !important;
    --padding-start: 0 !important;
    img{
        border-radius: 100px;
    }
}

.reviews{
    margin: 8px 0;
    display: flex;
    margin-bottom: .5rem;
}
.sub-text{
    color: #777777 !important;
    margin-top: 0 !important;
}
.col-price{
    font-size: 20px !important;
}
.cart{
    margin-bottom: 16px;
}
.rating{
    margin: 0 19px 0 0;
}
.feat{
    margin-bottom: 14px !important;
}
.midtxt{
    // display: grid;
    // align-content: center;
    text-align: justify;
    &.decs{
        margin-bottom: 2rem;
    }
    &.lg{
        font-size: 16px !important;
    }
    span{
        position: relative;
    }
    & ion-button{
        overflow: unset;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: .875rem;
    }
}
ion-footer{
    .header{
        padding: 16px 28px;
        // justify-content: center !important;
        gap: 16px;
    }
    .btn{
        --padding-start: 58px;
        --padding-end: 58px;
        --padding-top: 16px;
        --padding-bottom: 16px;
    }
}