<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-button fill="clear">
        <img src="./assets/icon/arrow-left.svg" alt="">
      </ion-button>
      <ion-button class="btn-white" shape="round">
        <img src="./assets/icon/shopping-cart-red.svg" alt="">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button="true" class="gift">
    <img src="./assets/images/gift-shop.svg" alt="">
    <ion-label>DailyGiftShop</ion-label>
  </ion-item>

  <div class="product-txt">Punk Rock T-Shirt</div>
  <div class="reviews">
    <div class="rating">
      <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
      <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
      <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
      <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
      <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
    </div>
    <div class="midtxt">4.5</div>
  </div>
  <div class="cart">
    <div class="cart col-price midtxt">₱ 750.00</div>
    <div class="sub-text midtxt">100 sold</div>
  </div>
  <div>
    <div class="midtxt sub-text decs">a rebellious blend of style and sustainability. Crafted <br> with the earth in mind, this t-shirt is the perfect <br> embodiment of rock 'n' roll attitude and ... <span><ion-button fill="clear" class="">See more</ion-button></span></div>
  </div>
  <div class="line"></div>
  <div class="feat header-btns">
    <div class="feat-txt">
      Product Reviews
    </div>
  </div>
  <div class="reviews">
    <div class="rating">
      <div class="star"><img src="./assets/icon/star.svg" width="24"></div>
      <div class="star"><img src="./assets/icon/star.svg" width="24"></div>
      <div class="star"><img src="./assets/icon/star.svg" width="24"></div>
      <div class="star"><img src="./assets/icon/star.svg" width="24"></div>
      <div class="star"><img src="./assets/icon/half-star.svg" width="24"></div>
    </div>
    <div class="midtxt lg">4.5</div>
  </div>
</ion-content>

<ion-footer class="">
  <div class="header footer-bg">
    <ion-button fill="clear" class="btn-icon">
      <img src="./assets/icon/shopping-cart-red.svg" width="24">
      Add to Cart
    </ion-button>
    <ion-button class="btn">Order</ion-button>
  </div>
</ion-footer>