

<ion-content [fullscreen]="true">
  <div class="top">
    <div class="header">
      <div>
        <ion-button fill="clear" (click)="back()">
          <img src="./assets/icon/arrow-left.svg" alt="">
        </ion-button>
      </div>
      <div class="header-txt">
        Profile
      </div>
      <div>
        <ion-button fill="clear">
          <img src="./assets/icon/settings.svg" routerLink="/settings">
        </ion-button>
      </div>
    </div>
    <div class="profile">
      <div class="pfp">
        <img src="./assets/images/user-home.svg" width="92" height="92" alt="">
      </div>
      <div class="user-details">
        <div class="username">James Del Rosario</div>
        <div class="email">james_delrosariogmail.com</div>
      </div>
    </div>
  </div>

  <div class="padding">
    <ion-item [button]="true" lines="none">
        <img src="./assets/icon/user.svg" alt="">
      <ion-label>Account</ion-label>
    </ion-item>
    <ion-item [button]="true" lines="none">
      <img src="./assets/icon/credit-card.svg" alt="">
    <ion-label>Manage Payment Method</ion-label>
    </ion-item>
    <ion-item [button]="true" lines="none">
      <img src="./assets/icon/clock.svg" alt="">
    <ion-label>Purchase History</ion-label>
    </ion-item>
    <ion-item [button]="true" lines="none" routerLink="/order-status">
      <img src="./assets/icon/map.svg" alt="">
    <ion-label>Order Status</ion-label>
    </ion-item>
  </div>
  <!-- <app-footer-tabs></app-footer-tabs> -->
</ion-content>