<ion-header [translucent]="true" class="ion-padding-horizontal">
  <ion-toolbar>
    <ion-title>Delivery Details</ion-title>
    <ion-button fill="clear" slot="end">
      <img src="./assets/icon/x.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map mb-2">
    <img src="./assets/images/map.svg" alt="">
  </div>
  <div class="feat header-btns">
    <div class="fs-16 fw-700 text-high">
      Featured Bands
    </div>
    <div>
      <ion-button fill="clear">See All</ion-button>
    </div>
  </div>
  <ion-item lines="none" class="mb-2">
    <img src="./assets/images/user-map.png">
    <ion-label>
      <div class="text-high fs-14 fw-700">John Michael Santos</div>
      <div class="fs-14 text-grey">+63 966 779 0173</div>
    </ion-label>
    <ion-button fill="clear" slot="end" class="mr-0">
      <img src="./assets/icon/phone.svg" class="mr-0">
    </ion-button>
  </ion-item>

  <div class="mb-1">
    <div class="fw-700 text-high" style="line-height: 24px;">Delivery Details</div>
    <div class="fs-14 text-grey" style="line-height: 24px;">Estimate Arrival: June 17, 2023</div>
  </div>
</ion-content>
