
ion-toolbar{
    ion-button img{
        width: 24px;
        height: 24px;
    }
}
.map{
    display: flex;
    justify-content: center;
    img{
        border-radius: 1.875rem;
        min-width: -webkit-fill-available;
    }
}
.text-high{
    display: grid;
    align-content: center;
}
ion-item{
    .text-high{
        margin-bottom: 8px;
    }
}
.d-details{
    display: flex;
    margin-bottom: 3rem;
    .bg-grey{
        border-radius: 8px;
        padding: 16px;
        display: grid;
        align-content: center;
        margin-right: 1rem;
    }
    .text{
        display: grid;
        align-content: center;
        gap: 6px;
    }
}
.dots{
    gap: 8px;
    display: grid;
    position: absolute;
    left: 25px;
    top: 59px;
    z-index: -1;
    .dot{
        background: #FFFFFFDE;
        width: 3px;
        height: 7px;
        border-radius: 50px;
    }
}