
ion-tab-button {
    --background: #1e1e1e;
    font-size: 14px;
    color: #ffffff99;
    // padding: 16px 0 16px 0;
  
    &.tab-selected {
      font-weight: 700 !important;
      color: #df2e38 !important;
  
      svg path {
      stroke: #df2e38;
      }
    }
  }