ion-tab-bar{
    background: #1e1e1e;
    padding: 16px 0 16px 0;
}
ion-tab-button{
    --background: #1e1e1e;
    font-size: 14px;
    color: #FFFFFF99;
    --color-selected: #DF2E38;
    img{
        margin-bottom: 6px;
    }
}