<!-- <ion-content></ion-content> -->
<div class="modal">
  <div class="px-1">
    <div class="text-high fs-14 fw-400 mb-1">Are you sure you want to remove all added items from your cart?</div>

    <div class="yn">
      <button class="pt-2 pb-1">
        <div>
          <img src="./assets/icon/check-circle.svg">
        </div>
        <div class="fs-16 fw-600 text-secondary">
          Yes
        </div>
      </button>
    </div>
    <div class="yn">
      <button class="pt-2">
        <div>
          <img src="./assets/icon/x-circle.svg">
        </div>
        <div class="fs-16 fw-600 text-secondary">
          Cancel
        </div>
      </button>
    </div>
  </div>

</div>