<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <div class="home-tab text-grey">
        <img src="./assets/icon/home.svg" class="">
            <div>Home</div> 
      </div>
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/">
      <div class="search-tab text-grey">
        <img src="./assets/icon/search.svg" class="">
            <div>Search</div> 
      </div>
    </ion-tab-button>
    <ion-tab-button tab="cart" routerLink="/cart">
      <div class="cart-tab text-grey">
        <img src="./assets/icon/shopping-cart-grey.svg" class="">
            <div>Cart</div> 
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>