ion-toolbar{
    img{
        display: flex;
    }
    ion-title{
        color: #FFFFFFDE;
        font-size: 16px;
        font-weight: 500;
    }
}

ion-button{
    position: relative;
}

ion-grid, ion-row{
    gap: 32px !important;
    padding: 0 !important;
}
ion-col{
    padding: 0 !important;
}