<ion-header [translucent]="true" class="ion-padding-horizontal">
  <ion-toolbar>
    <ion-button fill="clear">
      <img src="./assets/icon/arrow-left.svg" alt="">
    </ion-button>
      <ion-title>Order Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="midtxt note">
    <span>Note: </span>Pending products are products that can <br> be cancelled within 30 minutes after placing the order.
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="blk-btn">
          <ion-badge>2</ion-badge>
          <div>
            <img src="./assets/icon/clock-light.svg" alt="">
            <ion-label>Pending</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="blk-btn">
          <ion-badge>2</ion-badge>
          <div>
            <img src="./assets/icon/package.svg" alt="">
            <ion-label>Preparing</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col>
        <ion-button expand="block" class="blk-btn">
          <ion-badge>1</ion-badge>
          <div>
            <img src="./assets/icon/truck.svg" alt="">
            <ion-label>For Delivery</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" class="blk-btn">
          <ion-badge>4</ion-badge>
          <div>
            <img src="./assets/icon/received.svg" alt="">
            <ion-label>Received</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <div class="tabs">
    <ion-button fill="clear" shape="block">
      <div class="home-tab text-grey">
        <img src="./assets/icon/home.svg" class="">
            <div>Home</div> 
      </div>
    </ion-button>
    <ion-button fill="clear" class="mr-4 ml-4" shape="block">
      <div class="search-tab text-grey">
        <img src="./assets/icon/search.svg" class="">
            <div>Search</div> 
      </div>
    </ion-button>
    <ion-button fill="clear" shape="block">
      <div class="cart-tab text-grey">
        <img src="./assets/icon/shopping-cart-grey.svg" class="">
            <div>Cart</div> 
      </div>
    </ion-button>
  </div>
</ion-footer>