
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div>
        <ion-button fill="clear">
          <img src="./assets/icon/close.svg" alt="">
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="confirm-content my-5">
    <div class="center-img">
      <img src="./assets/images/order-confirm.svg" alt="">
    </div>
    <div class="confirm-txt">
      <p class="txt">DONE</p>
      <p class="txt-1">You Have Successfully Placed <br> Your Order !</p>
    </div>
  </div>
  <ion-button expand="block" shape="block" class="btn" routerLink="/order-status">Check My Order</ion-button>
  <ion-button expand="block" shape="block" fill="clear" routerLink="/home">Go Back to Home</ion-button>
</ion-content>

<!-- <ion-footer class="ion-padding">
</ion-footer> -->