.searchbar{
    height: 40px;
}
ion-searchbar{
    padding: 0 !important;
    text-align: center;
    --border-radius: 8px 0 0 8px;
}
.search{
    --border-radius: 0 8px 8px 0;
    img{
        padding: 8px;
        margin: 0 6px;
    }
}
.searchinput{
    
}
// #custom-search input.searchbar-input.sc-ion-searchbar-ios{

//     padding-top: 12px!important;
  
//     padding-bottom: 12px!important;
  
//   }