<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="header">
      <div>
        <ion-button fill="clear">
          <img src="./assets/images/user.png" width="48" height="48">
        </ion-button>
      </div>
      <div class="header-btns">
        <ion-button fill="clear" style="margin-right: 16px;"><img src="./assets/icon/bell.svg" alt=""></ion-button>
        <ion-button fill="clear"><img src="./assets/icon/message.svg" alt=""></ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="feat header-btns">
    <div class="feat-txt">
      Featured Bands
    </div>
    <div>
      <ion-button fill="clear">See All</ion-button>
    </div>
  </div>
</ion-content>
