.flash-deal{
    justify-content: center;
    margin-bottom: 1rem !important;
}
.note{
    text-align: center !important;
    letter-spacing: 0.5px;
}
p{
    align-content: end !important;
    margin-bottom: 5px;
    font-weight: 700;
}
.cart{
    margin-top: 35px;

    ion-button{
        img{
            margin: 0 !important;
            width: auto !important;
        }
        min-height: 32px !important;
        width: 38px;
    }
}
.total{
    margin-top: 34px;
}
.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}