
  <div class="modal" [ngClass]="{'class-to-hide': noDisplay === true}">
  <div class="text-high fw-500 mb-1">Please Select Details</div>
  <div class="text-grey fs-14 m-8">Available Sizes</div>

  <div class="modal-btns">
    <ion-button class="fs-12 fw-400 text-high"><div>S</div></ion-button>
    <ion-button class="fs-12 fw-400 text-high"><div>M</div></ion-button>
    <ion-button class="fs-12 fw-400 text-high"><div>L</div></ion-button>
    <ion-button class="fs-12 fw-400 text-high"><div>XL</div></ion-button>
  </div>
  <div class="line my-2"></div>
  <div class="text-grey fs-14 m-8">Available Colors/Style</div>

  <div class="size">
    <button ion-button class="fs-12 text-high "
    style="display: flex;">
      <div class="bs-left">
        <img src="./assets/images/bs-shirt1.svg">
      </div>
      <div class="bs-right">
        Black
      </div>
    </button>
    <button ion-button class="fs-12 text-high "
    style="display: flex;">
      <div class="bs-left">
        <img src="./assets/images/bs-shirt2.svg">
      </div>
      <div class="bs-right">
        White
      </div>
    </button>
  </div>
  <div class="line my-2"></div>
  <div class="modal-btns">
    <ion-button class="fs-12 text-high amt">
      <div><img src="./assets/icon/minus.svg" alt=""></div>
    </ion-button>
    <div class="counter text-high fs-14 fw-700"
    style="display: grid;
    align-content: center;">1</div>
    <ion-button class="fs-12 text-high amt">
      <div><img src="./assets/icon/plus-white.svg" alt=""></div>
    </ion-button>
  </div>
  <div class="line my-2"></div>
  <div class="header mb-2">
    <div class="fs-14 fw-400 text-grey">Amount:</div>
    <div class="fw-700 text-high">₱ 750.00</div>
  </div>
  <ion-button expand="block" id="footerAnchor" class="btn fs-16 fw-700" id="footerAnchor" (click)="nodisplay(true)">Add to Cart</ion-button>
</div>
<ion-toast
trigger="footerAnchor"
position="bottom"
positionAnchor="footer"
class="custom-toast"
message="Item was added to cart successfully."
duration="2000"
></ion-toast>
