<ion-header [translucent]="true" class="ion-padding-horizontal">
  <ion-toolbar>
    <ion-button fill="clear">
      <img src="./assets/icon/arrow-left.svg" (click)="back()">
    </ion-button>
      <ion-title>Pending</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="midtxt note">
    Click item card to view delivery details
  </div>

  <div class="flash-deal mb-1">
    <div class="left">
      <img src="./assets/images/prepshirt.svg" alt="">
    </div>
    <div class="order right">
      <div class="r-text">Rock n roll Organic T-Shirt</div>
      <div class="mb-2">
        <div class="sub-text">Size: <span>Large</span></div>
        <div class="sub-text">Color/Style: <span>Black</span></div>
        <div class="sub-text">Quantity: <span>1</span></div>
      </div>
      <div class="cart">
        <p>₱ 750.00</p>
      </div>
    </div>
  </div>
  <div class="flash-deal mb-1">
    <div class="left">
      <img src="./assets/images/prepshirt.svg" alt="">
    </div>
    <div class="order right">
      <div class="r-text">Rock n roll Organic T-Shirt</div>
      <div class="mb-2">
        <div class="sub-text">Size: <span>Large</span></div>
        <div class="sub-text">Color/Style: <span>Black</span></div>
        <div class="sub-text">Quantity: <span>1</span></div>
      </div>
      <div class="cart">
        <p>₱ 750.00</p>
      </div>
    </div>
  </div>
  <div class="flash-deal mb-1">
    <div class="left">
      <img src="./assets/images/prepshirt.svg" alt="">
    </div>
    <div class="order right">
      <div class="r-text">Rock n roll Organic T-Shirt</div>
      <div class="mb-2">
        <div class="sub-text">Size: <span>Large</span></div>
        <div class="sub-text">Color/Style: <span>Black</span></div>
        <div class="sub-text">Quantity: <span>1</span></div>
      </div>
      <div class="cart">
        <p>₱ 750.00</p>
      </div>
    </div>
  </div>
  <!-- <app-footer-tabs></app-footer-tabs> -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <div class="home-tab text-grey">
          <img src="./assets/icon/home.svg" class="">
              <div>Home</div> 
        </div>
      </ion-tab-button>
      <ion-tab-button tab="search" routerLink="/">
        <div class="search-tab text-grey">
          <img src="./assets/icon/search.svg" class="">
              <div>Search</div> 
        </div>
      </ion-tab-button>
      <ion-tab-button tab="cart" routerLink="/cart">
        <div class="cart-tab text-grey">
          <img src="./assets/icon/shopping-cart-grey.svg" class="">
              <div>Cart</div> 
        </div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<!-- <ion-footer>
  <div class="tabs">
    <ion-button fill="clear" shape="block">
      <div class="home-tab text-grey">
        <img src="./assets/icon/home.svg" class="">
            <div>Home</div> 
      </div>
    </ion-button>
    <ion-button fill="clear" class="mr-4 ml-4" shape="block">
      <div class="search-tab text-grey">
        <img src="./assets/icon/search.svg" class="">
            <div>Search</div> 
      </div>
    </ion-button>
    <ion-button fill="clear" shape="block">
      <div class="cart-tab text-grey">
        <img src="./assets/icon/shopping-cart-grey.svg" class="">
            <div>Cart</div> 
      </div>
    </ion-button>
  </div>
</ion-footer> -->
