
@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./src/theme/helper.scss";

$header : 32px;
$pfont : 16px;
$bold: 600;
$pcolor: #FFFFFF99;
$txtprimary : #FFFFFFDE;
$lh: 24px;
$red: #DF2E38;

@font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
  }
.header-background{
    backdrop-filter: none !important;
}
ion-header{
    padding-top: 10px;
    font-weight: 500 !important;
    ion-toolbar{
        --background: #0000;
        color: #fff;
        --border-style: none;
        // padding: 10px 24px 0;
    }
}
ion-content{
    --ion-background-color: #0000;
    --padding-start: 24px !important;
    --padding-end: 24px !important;
    --padding-top: 32px;
}
.logo{
    width: 6.25rem;
}
.text-header{
    font-size: $header;
    font-weight: $bold;
    color: $txtprimary;
}
.reg-text{
    margin-top: 8px;
    font-size: $pfont;
    color: $pcolor;
    line-height: $lh;
}

ion-button{
    --color: #DF2E38 !important;
    font-weight: 700;
    --background: none;
    margin-bottom: $pfont;
    --padding-top: 16px;
    --padding-bottom: 16px;
    
    &.btn{
        --color: #fff !important;
        --background: #DF2E38;
        --background-activated: #b6252c;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --border-radius: 12px;

    }
    &.cart-btn{
        --padding-top: 0 !important;
        --padding-bottom: 0 !important;
        --border-radius: 100px !important;
    }
    &.blk-btn{
        --color: #FFFFFFDE !important;
        --background-activated: #121212;
        --background: #FFFFFF0D;
        div{
            display: flex;
            flex-direction: column;
            padding: 38px 34px;
            ion-label{
                margin-top: 16px;
            }
            img{
                width: 48px;
                height: 48px;
                margin: auto;
            }
        }
    }
    &.btn-white{
        min-width: 48px;
        --background: #fff;
        --background-activated: #a3a3a3;
        img{
            width: 1.125rem;
        }
        
    }
    &.btn-icon{
        img{
            margin-right: 16px;
        }
    }
    &.red-btn{
        --background: #FFFFFF1F;
        --background-activated: #DF2E38;
        --color-activated: #fff;
        --color: #FFFFFFDE !important;
        --transition: 0.2s ease-in;
        font-weight: 400 !important;
        .btn-txt{
            padding: 0 16px;
        }

        &:active{
            font-weight: 700 !important;
        }
    }
    &.logout-btn{
        --background: transparent;
        --color: #FFFFFFDE !important;
        font-weight: 400 !important;
    }
    &.tabs-btn{
        --background: transparent;
        --background-activated: transparent;
        --color: #FFFFFF99 !important;
        --color-activated: var(--color) !important;

        img:active{
            // background-image: url(/../assets/icon/);
        }
    }
}

swiper-container{
    --swiper-pagination-color: #DF2E38 !important;
    --swiper-pagination-bullet-inactive-color: #7e7e7e !important;
    --swiper-pagination-bullet-width: 10px !important;
    --swiper-pagination-bullet-height: 10px !important;

    &::part(container) {
        overflow: unset!important;
    }
    &::part(bullet){
        margin: 0 8px;
    }
}
swiper-container::part(pagination) {
    position: absolute;
    top: unset;
    bottom: -24px;
    // bottom: -24px!important;
}
swiper-container::part(bullet-active) {
    width: 24px;
    border-radius: 20px;
  }
// .header, .header-btns{
//     ion-button{
//         margin-bottom: 0;
//         --padding-top: 0;
//         --padding-bottom: 0;
//         --padding-start: 0;
//         --padding-end: 0;
//     }
// }
.header-btns{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;

}
.footer-bg{
    padding: 16px;
    background: #FFFFFF1F;
}

ion-button{
    margin-bottom: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}
ion-grid{
    display: grid;
}
ion-grid, ion-row{
    gap: 8px;
}
.sub-text{
    font-size: .75rem !important;
    font-weight: 400;
    color: #FFFFFF99;
    line-height: 24px;
    margin-top: 4px;
}
ion-segment{
    gap: 16px;
    
}
ion-segment-button::part(indicator-background) {
    background: $red;
    border-radius: 100px;
}
ion-segment-button{
    color: #fff;
    background: #FFFFFF1F;
    font-size: 1rem;
    padding: 8px 24px;
    border-radius: 100px;
    font-weight: 400;
    
    &.active{
        font-weight: 700 !important;
    }
}
ion-tab-bar{
    background: #1e1e1e;
    padding: 16px 0 16px 0;
}
ion-tab-button{
    --background: #1e1e1e;
    font-size: 14px;
    color: #FFFFFF99;
    img{
        margin-bottom: 6px;
    }
}

ion-badge{
    --background: #DF2E38;
    --color: #fff;
    position: absolute;
    top: 11px;
    right: 12px;
    padding: 8px 11px;
    border-radius: 70px;
}
ion-item{
    color: #FFFFFFDE;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    background: #1e1e1e;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    --color-activated: #fff;
    img{
        margin-right: 1rem;
    }
}
.product-txt{
    color: $txtprimary;
    font-size: 1.25rem;
    font-weight: 700;
}

.midtxt{
    font-size: 14px !important;
    color: #FFFFFFDE;
    line-height: 1.5rem;
    font-weight: 400;

    &.note{
        margin-bottom: 1rem;
        text-align: justify;
        span{
            font-weight: 700;
        }
    }

}
.cart{
    display: flex;
    justify-content: space-between;
    
    p{
        display: grid;
        align-content: center;
        margin: 0;
    }
    &.col-price{
        margin-top: 8px;
        font-size: 14px !important;
        font-weight: 700;
    }
    .col-btn{
        img{
            margin: 0.9rem !important;
        }
    }
    .cart-btn{
        // border-radius: 50%;
        img{
            margin: 15px;
            width: 20px;
        }
    } 
}
.rating{
    display: flex;
    margin: 4px 0;
    gap: 8px;
    .star{
        display: grid;
        align-content: center;
    }
}
.feat{
    display: flex;
    justify-content: space-between;
    color: #FFFFFFDE;
    margin-bottom: 12px;
    padding-right: 24px;

    ion-button{
        font-size: .875rem;
        font-weight: 500;
    }
    
    .feat-txt{
        display: grid;
        align-content: center;
        font-size: 1.25rem;
        font-weight: 700;
    }
}
.line{
    height: 1px;
    border-bottom: 1px solid #FFFFFF1F;
    margin-bottom: 1.4375rem;
}
.flash-deal{
    display: flex;
    // justify-content: space-between;
    margin-bottom: 2rem;
    .left{
        background: #FFFFFF61;
        padding: 46px 20px;
        border-radius: 16px 0 0 16px;
        display: grid;
        align-content: center;
    }
    .right{
        padding: 1rem;
        border-radius: 0 16px 16px 0;
        background: #1e1e1e;
        color: #fff;
        font-size: 16px;
        font-weight: 500;

        .pricing{
            display: flex;
            justify-content: space-between;
        }
        .r-text{
            line-height: 1.875rem;
        }

        .percentage{
            background: #393939;
            width: fit-content;
            padding: 6px 16px;
            border-radius: 24px;
            font-size: 12px;
            font-weight: 200;
            margin-bottom: 8px;
            
        }
    }
}
.fs-16{
    font-size: 16px !important;
}
.order{
    .sub-text{
        font-weight: 500 !important;
    
        span{
            font-weight: 400 !important;
            color: #FFFFFFDE;
        }
    }
}
.tabs{
    background: #1e1e1e;
    display: flex;
    padding: 16px 30px;
    justify-content: space-evenly;

    img{
        margin-bottom: 3px;
    }
    ion-button{
        --padding-start: 1em !important;
        --padding-end: 1em !important;
    }
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.notif-txt{
    display: flex;
    justify-content: space-between;

    .text-high{
        display: grid;
        align-content: center;
        margin-top: 2px;
    }

    ion-item{
        .sub-text{
            margin-top: 6px !important;
            line-height: normal;
        }
    }
}
.searchbar{
    display: flex;
}
ion-searchbar{
    --placeholder-color: #777 !important;
    --background: #FFFFFF0D !important;
    --color: #FFFFFF99 !important;
    --clear-button-color: #fff !important;
    font-size: 12px;
}

// modal 
.sheet-modal{
    --height: fit-content;
    align-items: flex-end !important;
    --background: #252525; 
    --border-radius: 32px 32px 0 0;
}
.modal{
    padding: 32px 24px;

    .m-8{
        margin-bottom: .5rem;
    }

    .modal-btns{
        display: flex;
        gap: 1rem;

        button{
            background: #1e1e1e;
            border-radius: 4px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

            &:active{
                background: #ffffff2c;
            }
        }
    }
    .yn{
        button{
            background: transparent;
            display: flex;
            gap: 1rem;

            .text-secondary{
                margin: 6px;
            }

            &:active{
                color: #88181d !important;
            }
        }
    }
}
ion-popover{
    --background: #252525;

    ion-content{
        --padding-end: 0 !important; 
        --padding-top: 0 !important;
        --padding-start: 0 !important;
    }

    .blk-btn{
        --background: transparent;
        padding: 8px 2px !important;
        display: flex;
    }
}
ion-popover::part(arrow){
    display: none !important;
}
.card{
    border-radius: 1rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
    .top{
        display: flex;
        justify-content: center;
        padding: 1rem .5rem;
        background: #FFFFFF61;
        border-radius: 16px 16px 0 0;
    }
    .bot{
        background: #1e1e1e;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        border-radius: 0 0 16px 16px;
    }
}
.txt-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 123px;
    overflow: hidden;
    line-height: 1.5rem;
}