
@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

$header : 32px;
$pfont : 16px;
$bold: 600;
$pcolor: #FFFFFF99;
$red: #DF2E38;

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
  }
.header-background{
    backdrop-filter: none !important;
}
ion-header{
    padding-top: 10px;
    ion-toolbar{
        --background: #0000;
        color: #fff;
        --border-style: none;
        // padding: 10px 24px 0;
    }
}
ion-content{
    --ion-background-color: #0000;
    --padding-start: 24px !important;
    --padding-end: 24px !important;
    --padding-top: 32px !important;
}
.logo{
    width: 6.25rem;
}
.text-header{
    font-size: $header;
    font-weight: $bold;
    color: #fff;
}
.reg-text{
    font-size: $pfont;
    color: $pcolor;
}

ion-button{
    --color: #DF2E38 !important;
    font-weight: 700;
    --background: none;
    margin-bottom: $pfont;
    --padding-top: 16px;
    --padding-bottom: 16px;
    
    &.btn{
        --color: #fff !important;
        --background: #DF2E38;
        --background-activated: #b6252c;
    }
    &.blk-btn{
        --color: #FFFFFFDE !important;
        --background-activated: #121212;
        --background: #FFFFFF0D;
        div{
            display: flex;
            flex-direction: column;
            padding: 38px 38px;
            ion-label{
                margin-top: 16px;
            }
            img{
                width: 48px;
                height: 48px;
                margin: auto;
            }
        }
    }
}

swiper-container{
    --swiper-pagination-color: #DF2E38 !important;
    --swiper-pagination-bullet-inactive-color: #7e7e7e !important;
    --swiper-pagination-bullet-width: 10px !important;
    --swiper-pagination-bullet-height: 10px !important;

    &::part(container) {
        overflow: unset!important;
    }
}
swiper-container::part(pagination) {
    position: absolute;
    top: unset;
    bottom: -24px;
    // bottom: -24px!important;
}
swiper-container::part(bullet-active) {
    width: 24px;
    border-radius: 20px;
  }
// .header, .header-btns{
//     ion-button{
//         margin-bottom: 0;
//         --padding-top: 0;
//         --padding-bottom: 0;
//         --padding-start: 0;
//         --padding-end: 0;
//     }
// }
.header-btns{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
}

ion-button{
    margin-bottom: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}
ion-grid{
    display: grid;
}
ion-grid, ion-row{
    gap: 8px;
}
.sub-text{
    font-size: .75rem;
    font-weight: 400;
    color: #FFFFFF99;
    line-height: 24px;
    margin-top: 4px;
}
ion-segment{
    gap: 16px;
}
ion-segment::part(button-checked){
    background: $red !important;
}
ion-segment-button{
    color: #fff;
    background: #FFFFFF1F;
    font-size: 1rem;
    padding: 8px 24px;
    border-radius: 100px;
    --background-checked: $red;
}
ion-tab-bar{
    background: #1e1e1e;
    padding: 16px 0 16px 0;
}
ion-tab-button{
    --background: #1e1e1e;
    font-size: 14px;
    color: #FFFFFF99;
    img{
        margin-bottom: 6px;
    }
}

ion-badge{
    --background: #DF2E38;
    --color: #fff;
    position: absolute;
    top: 11px;
    right: 12px;
    padding: 8px 11px;
    border-radius: 70px;
}