<ion-header class="ion-no-padding">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-button fill="clear" (click)="back()">
                    <img src="./assets/icon/arrow-left.svg" alt="">
                </ion-button>
            </ion-row>
            <ion-row>
                <div>
                    <div class="heading">Avalanche Pilot</div>
                    <div class="sub-text">Avalanche Pilot is a ferocious force of rock 'n' roll <br> power that ignites stages with their explore... <span><ion-button fill="clear" class="">See more ></ion-button></span></div>
                </div>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-segment scrollable="true" value="tshirt" css-mode="true" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
        <ion-segment-button value="tshirt" checked>
            <ion-label class="fs-14">T - Shirt</ion-label>
        </ion-segment-button>
        <ion-segment-button value="caps">
            <ion-label class="fs-14">Caps</ion-label>
        </ion-segment-button>
        <ion-segment-button value="stickers">
            <ion-label class="fs-14">Stickers</ion-label>
        </ion-segment-button>
        <ion-segment-button value="keychain">
            <ion-label class="fs-14">Keychain</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div class="mt-1">
        <ion-button fill="clear"><span><img src="./assets/icon/filter.svg" alt=""></span>Filter By</ion-button>
    </div>
    <div [ngSwitch]="type">
        <ion-list *ngSwitchCase="'tshirt'">
            <div class="ion-padding-end">
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round" routerLink="/cart">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round" routerLink="/cart">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round" routerLink="/cart">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round" routerLink="/cart">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round" routerLink="/cart">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round" routerLink="/cart">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/prodshirt1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="">Punk Rock T-Shirt</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
        </ion-list>
    
        <ion-list *ngSwitchCase="'caps'">
            <div class="ion-padding-end">
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/cap2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'stickers'">
            <div class="ion-padding-end">
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Rock on Sticker</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Rock Skull Sticker</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'keychain'">
            <div class="ion-padding-end">
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/keychain.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Never Too Old to <br> Rock ‘N’ Roll Ke...</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 75.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/keychain2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">It’s Only Rock & <br> Roll Keychain</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 55.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker1.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Adult Hip Hop <br> Punk Rock Skull Cap</div>
                                <div class="rating">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div class="card">
                          <div class="top">
                            <img src="./assets/images/sticker2.svg" alt="">
                          </div>
                          <div class="bot">
                            <div>
                                <div class="txt-overflow fs-14">Punk Rock T-Shirt</div>
                                <div class="rating mt-0">
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/star.svg" alt=""></div>
                                  <div class="star"><img src="./assets/icon/half-star.svg" alt=""></div>
                                </div>
                                <div class="sub-text">100 sold</div>
                            </div>
                            <div class="cart col-price">
                              <p>₱ 249.00</p>
                              <ion-button class="btn col-btn cart-btn" shape="round">
                                <img src="./assets/icon/shopping-cart.svg" alt="">
                              </ion-button>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
        </ion-list>
      </div>
    <div >
    </div>
</ion-content>
