<ion-header class="ion-no-padding">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-button fill="clear">
                    <img src="./assets/icon/arrow-left.svg" alt="">
                </ion-button>
            </ion-row>
            <ion-row>
                <div>
                    <div class="heading">Avalanche Pilot</div>
                    <div class="sub-text">Avalanche Pilot is a ferocious force of rock 'n' roll <br> power that ignites stages with their explore... <span><ion-button fill="clear" class="">See more ></ion-button></span></div>
                </div>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div>
        <ion-button fill="clear"><span><img src="./assets/icon/filter.svg" alt=""></span>Filter By</ion-button>
    </div>
    <ion-segment scrollable="true" value="tshirt" css-mode="true">
        <ion-segment-button value="tshirt">
            <ion-label>T - Shirt</ion-label>
        </ion-segment-button>
        <ion-segment-button value="caps">Caps</ion-segment-button>
        <ion-segment-button value="stickers">Stickers</ion-segment-button>
        <ion-segment-button value="keychain">Keychain</ion-segment-button>
    </ion-segment>
</ion-content>
